In [1]:
import pandas as pd

Mobile = pd.read_csv("Mobile data.csv")
print(Mobile)

   Sr.no   product  sale       city  year     price
0      1    Iphone  15.0     Mumbai  2022  1,70,000
1      2   Samsung  50.0   vadodara  2023     25000
2      3   Oneplus   NaN     Baruch  2024     35000
3      4      Vivo  20.0      Surat  2025     15000
4      5      Oppo   NaN    Navsari  2020     16000
5      6     Redmi  35.0       Vapi  2019     17000
6      7    Realme  30.0     Valsad  2018     14000
7      8     Nokia  22.0       Pune  2017     17000
8      9  Motorola   NaN     Sikkim  2016     12000
9     10  Micromax  10.0  Ahmedabad  2015     13000